.projects-container {
    padding-left: 10%;

    h1 {
        margin-bottom: 10px;


    }

    p {
        width: 65%;
    }

    h2 {
        display: flex;
        align-items: flex-start;
        height: 1.5em;
        margin-bottom: -10px;

        img {
            margin-left: 0.25em;
            height: 2.5em;
        }
    }
}

.drinkit-container {
    display: flex;
    align-items: center;

    .drinkit-text-container {
        width: 60%;
    }
}