.navbar {
    padding: 20px;
    color: inherit;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-left: 10px;
    text-align: center;
    font-weight: 800;
    font-size:35px;
    color: #384755;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    font-size: 20px;
    text-align: center;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #162f48;
}

.list-end {
    padding-right: 20px;
}