.navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #fffdfb;
    box-shadow: 0px 0px 10px #fffdfb;
}

.navbar-container {
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.navbar-logo {
    margin-left: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #384755;
    cursor: pointer;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    margin-right: -50px;
    padding: 0;
}

.navbar-list li {
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #162f48;
}