body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffdfb; /* background color */
  color: #162f48; /*main text color */
  font-size: 20px;
}

h1 {
  font-weight: 500;
  font-size: 60px;
  color: #384755; /*title text color */
}

h2 {
  font-weight: 500;
  font-size: 35px;
}

a {
  top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100%;
  margin-top: 80px;
}