body {
  margin: 0;
  font-family: 'Alegreya', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffdfb; /* background color */
  color: #162f48; /*main text color */
}

h1 {
  color: #384755; /*title text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  margin-top: 80px;
  height: calc(100vh - 80px);
}